* {
    padding: 0;
    margin: 0;
}

body{
    background-color: aliceblue;
}

input {
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    
}

label {
    padding: 10px;
    margin-right: 5px;
}

.butao {
    margin-top: 40px;
    font-size: 20px;
    background-color: aqua;
    margin-left: 45%;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 20px;
}

div {
    background-color: aquamarine;
    height: 300px;
    width: 850px;
    margin-left: 10%;
    margin-top: 5%;

}
